.likelyPara {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 40px;
}

.likelyWrap {
}

.likeItem {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(to right, #f00 , #ce367f);
    border: 1px solid #333;
}
.likeItem label {
    margin: 0;
    min-width: 75px;
    width: 9.09%;
    height: 40px;
    border-left: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    background: #fff;
}
.likeItem label:last-child {
    border-left: none;
}
.likeItem label:before{
    display: none !important;
}
.likeItem .liked input:checked label {
    /*background: #ddd;*/
}
.likeItem input[type='radio']:hover~label,
.likeItem input[type='radio']:checked~label{
    background: none;
    color: #fff;
}

.matrixTableWrap {

}

.matrixTableInner {
    padding-top: 20px;
}

.matrixTable.table {
}

.matrixTable.table.table-hover tbody tr:first-child:hover {
    background: red;
}

.matrixTable.table tr {
}

.matrixTable.table tr th {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border-top: none;
}
.matrixTable.table tr td {
    vertical-align: middle;
    padding: 0 10px;
}
.matrixTable.table tr td .answer-option-cell {
    display: flex;
    justify-content: center;
}
.matrixTable.table tr td .answer-option-cell label {
    margin: 0;
}
