

@font-face {
    font-family: 'solaimanlipinormal';
    src: url('solaimanlipi.woff2') format('woff2'),
         url('solaimanlipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}